@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Unbounded:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #b04848;
    text-decoration: none;

}
.container {
    width: 1350px;
    margin: 0 auto;
}
header {
    background: url("../images/header.png");
    padding-top: 50px;
    background-size: cover;
}
.logo-container {
    display: inline-block;
}
.logo-container img {
    width: 240px;
}
nav.header-navigation a:hover {
    color: red;
    font-weight: 1000;
}
.nav-container {
    text-align: right;
    padding-top: 45px;
    float: right;
    word-spacing: 4vh;
    padding-right: 15px;
    font-size: 20px;
}
h2{
    text-transform: uppercase;
    color: orange;
}
span {
    display: block;
}

/* Banner Style */

section.banner {
    background: #001aff url("../images/banner.png");
    background-size: cover;
    padding-top: 500px;
}
.banner {
    padding: 90px 130px 130px 50px;
    text-align: center;
}
.banner h1 {
    margin-left: 20vh;
    font-size: 60px;
    color: rgb(252, 38, 38);
    font-family: 'Caveat', cursive;
    padding-top: 100px;
}
.banner h2 {
    text-transform: uppercase;
    color: #a00a0a;
    font-size: 23px;
    font-family: 'Caveat', cursive;
}
p {
    font-family: cursive;
    font-size: 26px;
    color: rgb(252, 38, 38);
    padding-left: 167px;
}

/* ABOUT STYLE */

section.about-section {
    padding: 30px;
    background: url("../images/bg.jpeg") 0px; 
}
.about-section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}
.about-left img {
    width: 250px;
    border-radius: 100%;
} 
.about-left {
    display: inline-block;
    width: 50%;
}
.about-right p {
    width: 75%;
    float: right;
    text-align: center;
    font-size: 30px;
    margin-top: -210px;
    line-height: 45px;
    color: black;
    font-family: serif;
}

/* PROJECT STYLE */

section.project-section {
    padding: 30px 50px 30px
}

section.project-section h2 {
    text-align: center;
    font-size: 35px;
}
section.project-section .col {
    width: 33%;
    display: inline-block;
}
section.project-section .row-1 p {
    color: black;
}
section.project-section .col img {
    display: block;
} 
section.project-section .col span {
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
    color: rgb(4, 0, 255)
}
.row-2 {
    margin-top: 60px;
}
i.bx.bxl-twitch {
    color: purple;
}
i.bx.bxl-twitter {
    color: deepskyblue;
}
i.bx.bxl-instagram-alt {
    color: mediumvioletred;
}


/* HIRE ME STYLE  */ /* section.hire-me-banner button{
                            border: none;
                            border-radius: 50%;
                             background: brown;
                        }                               */

section.hire-me-banner {
    padding: 55px;
    background: darkred;
    text-align: center;
    font-size: 40px;
    color: deeppink;
}
section.hire-me-banner button {
    padding: 16px 39px;
    font-size: 25px;
    margin-top: 25px;
}


